aws_region  = "ap-south-1"
environment = "dev"

eks_cluster_name   = "voxchat-eks"
kubernetes_version = "1.35"

domain_name = "voxchat.in"

vpc_cidr = "10.0.0.0/16"

azs = [
  "ap-south-1a",
  "ap-south-1b",
]

private_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24",
]

public_subnet_cidrs = [
  "10.0.101.0/24",
  "10.0.102.0/24",
]

database_subnet_cidrs = [
  "10.0.201.0/24",
  "10.0.202.0/24",
]

db_name                  = "voxchat"
db_username              = "voxchat"
db_instance_class        = "db.t3.large"
db_allocated_storage     = 20
db_max_allocated_storage = 100
db_engine_version        = "17"
db_multi_az              = false

github_org  = "your-github-org"
github_repo = "your-github-repo"

image_retention_count = 10

tags = {
  Project     = "voxchat"
  Environment = "dev"
  Terraform   = "true"
  Owner       = "platform"
}
